@use 'reset' as *;
@use "variables" as *;

// Footer
    .footer {
        background: $color-b;
        color: $color-g;
        padding: 20px 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
        }

        .footer-left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 15px;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }

            .footer-logo {
                height: auto;
                width: 200px;
            }

            .footer-text {
                p {
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                small {
                    opacity: 0.8;
                    font-size: 0.9rem;
                }
            }
        }

        .footer-right {
            padding-right: 10px;

            .social-links {
                display: flex;
                align-items: center;
                gap: 15px;

                span {
                    padding-right: 15px;
                    border-right: 1px solid rgba(255, 255, 255, 0.3);
                    font-size: 0.9rem;
                }

                a {
                    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover {
                        transform: translateY(-2px);
                    }

                    img {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }